{% extends 'base.html' %}
{% block title %}Connect To QuickBook{% endblock %}
{% block customestyle %}
    <style>
        .formWindow {
            width: 350px;
            padding: 0 36px;
        }
        
        .formContainer {
            position: relative;
            top: 100px;
        }
        
        h2 {
            margin-bottom: 32px;
        }
        
        .btn {
            margin-top: 160px;
            width: 200px;
            height: 40px;
            padding: 16px 16px;
            margin-left: 0px;
        }
    </style>
    <script>
        if (window.opener) {
            window.opener.location.href = '/sampleAppOAuth2/'
            window.close()
        }
    </script>
    <script>
        function launchPopup(path) {
            var win;
            var checkConnect;
            var parameters = "location=1,width=800,height=650";
            parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

            // Launch Popup
            win = window.open(path, 'connectPopup', parameters);
        }
    </script>
{% endblock %}
{% load static %}
{% block body %}
    <div class="formWindow w3-card">
        <a href="/" class="icon-block">
            <i class="fa fa-close closeBtn"></i>
        </a>
        <div class="formContainer">
            <h2><b>Let's connect to your Accounting software!</b></h2>
            <div style="margin-top: 100px;">
                <a class="submitBtn btn" href="#" onclick="launchPopup('/sampleAppOAuth2/connectToQuickbooks/')">
                    <img src="{% static 'images/quickbooks.svg' %}" width='18' style="position: relative;top:4px;">
                    <span style="margin-left:8px">Connect to Quickbooks</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}