{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style1.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    {% block customestyle %}

    {% endblock %}
</head>
<body>
{% include 'admin_header.html' %}
{% include 'admin_navbar.html' %}
{% block body %}


{% endblock %}
{% include 'admin_footer.html' %}
</body>

</html>