<html lang="en">
<head>
    <title>test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script>
        if (window.opener) {
            window.opener.location.href = '/sampleAppOAuth2/submission'
            window.close()
        }
    </script>
</head>
<body>
    <div style="text-align:center;margin-top:20%;">
        <h1> Thank you for your submission </h1>
    </div>
    
</body>
</html>